body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: #F5F5F5;
}

.loginbody { 
  background: url(../img//bagan.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 120px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 1px;
    padding-right: 1px;
}
.navbar-dica {
  background-color: #27ae61;
  border-color: #24a15a;
}
.navbar-dica .navbar-brand {
  color: #ecf0f1;
}
.navbar-dica .navbar-brand:hover,
.navbar-dica .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-dica .navbar-text {
  color: #ecf0f1;
}
.navbar-dica .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-dica .navbar-nav > li > a:hover,
.navbar-dica .navbar-nav > li > a:focus {
  color: #ecdbff;
  background-color: #24a15a;
}
.navbar-dica .navbar-nav > .active > a,
.navbar-dica .navbar-nav > .active > a:hover,
.navbar-dica .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #24a15a;
}
.navbar-dica .navbar-nav > .open > a,
.navbar-dica .navbar-nav > .open > a:hover,
.navbar-dica .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #24a15a;
}
.navbar-dica .navbar-toggle {
  border-color: #24a15a;
}
.navbar-dica .navbar-toggle:hover,
.navbar-dica .navbar-toggle:focus {
  background-color: #24a15a;
}
.navbar-dica .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-dica .navbar-collapse,
.navbar-dica .navbar-form {
  border-color: #ecf0f1;
}
.navbar-dica .navbar-link {
  color: #ecf0f1;
}
.navbar-dica .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-dica .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-dica .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-dica .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-dica .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-dica .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-dica .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #24a15a;
  }
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

div.panel-heading span.pull-right.clickable {
	margin-top: -20px;
	font-size: 15px;
}

.clickable{
    cursor: pointer;   
}

.currency-group .form-control{
    width:10%;
}

th {
  font-weight: bold;
  text-align: center;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
  margin-bottom: 10px;
}

.panel-default > .panel-heading {
  font-weight:bold;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #24a15a;
}

.panel-default > .panel-footer {
  font-weight:bold;
  color: #000000;
  background-color: #FFFFFF;
  border-color: #24a15a;
}

/* Search Table*/
.panel-table .panel-body{
  padding:0;
}

.panel-table .panel-body .table-bordered{
  border-style: none;
  margin:0;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type {
    text-align:center;
    width: 100px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:last-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:last-of-type {
  border-right: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr > th:first-of-type,
.panel-table .panel-body .table-bordered > tbody > tr > td:first-of-type {
  border-left: 0px;
}

.panel-table .panel-body .table-bordered > tbody > tr:first-of-type > td{
  border-bottom: 0px;
}

.panel-table .panel-body .table-bordered > thead > tr:first-of-type > th{
  border-top: 0px;
}

.panel-table .panel-footer .pagination{
  margin:0; 
}

/*
used to vertically center elements, may need modification if you're not using default sizes.
*/
.panel-table .panel-footer .col{
 line-height: 34px;
 height: 34px;
}

.panel-table .panel-heading .col h3{
 line-height: 30px;
 height: 30px;
}

.panel-table .panel-body .table-bordered > tbody > tr > td{
  line-height: 34px;
}

.nav .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.nav a:hover .caret {
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}